<!-- Header -->
<div class="c-header">
  <div class="c-header__logo">
    <a [routerLink]="['/']" routerLinkActive="active">
      <strong>Angular Notes</strong>
    </a>
  </div>
  
  <div class="c-header__menu">
    <a [routerLink]="['/create']" routerLinkActive="active">Create</a>
  </div>
</div>

<!-- Main -->
<div class="c-content-main" role="main">
  <!-- <h1>Welcome</h1> -->
  <!-- router-outlet -->
  <router-outlet></router-outlet>
  <!-- <note-list></note-list> -->
  <!-- <home-page></home-page> -->
</div>

<!-- Footer -->

